* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 14px;
  box-sizing: border-box;
  font-family: 'Exo 2';
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  user-select: none;
  -webkit-app-region: drag;
}
button {
  -webkit-app-region: no-drag;
}
.container {
  display: flex;
}
.preview {
  position: relative;
  width: 85px;
  height: 64px;
  z-index: 100;
  background: #000;
}
.preview video {
  width: 100%;
  height: 100%;
  display: block;
}

.upload {
  height: 64px;
  flex: auto;
  align-items: stretch;
  position: relative;
  border: 0;
  background-image: linear-gradient(
    90deg,
    #3023ae 0%,
    #53a0fd 48%,
    #d3ff84 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 300ms ease-in;
  cursor: pointer;
}
.upload::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: all 200ms ease-in;
}
.upload:hover::after {
  opacity: 1;
}
.upload:hover .upload__text,
.upload:hover .upload__tagline {
  opacity: 0;
}
.upload:hover .upload__progress {
  filter: sepia(0.2) brightness(0.7);
}
.upload:active {
  filter: brightness(0.7);
}
.upload:active .upload__cancel {
  text-shadow: none;
}
.upload__cancel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  transition: opacity 200ms ease-in;
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  z-index: 30;
  opacity: 0;
  cursor: pointer;
}
.upload:hover .upload__cancel {
  opacity: 1;
}
.upload__text {
  cursor: pointer;
  width: 100%;
  text-align: center;
  z-index: 20;
  position: relative;
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  transition: all 300ms ease-out;
}
.upload__tagline {
  font-size: 0.8rem;
  text-align: center;
  z-index: 20;
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  transition: all 300ms ease-out;
}

.upload__progress {
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
  transition: transform 100ms ease;
  background-image: linear-gradient(-134deg, #3023ae 0%, #c86dd7 100%);
  z-index: 10;
}

.uploaded {
  height: 64px;
  flex: auto;
  align-items: stretch;
  position: relative;
  border: 0;
  background-image: linear-gradient(
    90deg,
    #3023ae 0%,
    #53a0fd 48%,
    #d3ff84 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 300ms ease-in;
}
.uploaded__text {
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.addModule__channelList {
  position: absolute;
  top: 64px;
  background: #fff;
  width: 100%;
  left: 0;
  bottom: 0;
  transform: translateY(calc(-100% - 64px));
  transition: all 200ms ease-in;
  z-index: 40;
  overflow: auto;
}
.addModule__channelList--open {
  transform: translateY(0);
}
.app {
  padding-top: 64px;
}
.app--open {
  overflow: hidden;
}

.start {
  height: 64px;
  display: flex;
  align-content: stretch;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
}
.start__button {
  display: block;
  width: 64px;
  border: 0;
  background-image: linear-gradient(-90deg, #3023ae 0%, #53a0fd 100%);
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  font-size: 4rem;
  padding: 0;
  font-weight: bold;
  cursor: pointer;
  transition: all 200ms ease-in;
}
.start__button:hover {
  filter: saturate(3);
  color: #ddd;
}
.channelSelect {
  flex: auto;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-image: linear-gradient(-134deg, #3023ae 0%, #c86dd7 100%);
}
.channelSelect__button {
  background: transparent;
  border: 0;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  font-family: 'Exo 2';
  font-weight: bold;
  display: flex;
  flex: auto;
  text-align: left;
  align-items: center;
  outline: none;
}
.channelSelect__chevron {
  margin-left: auto;
  font-size: 2rem;
}
.capture__close {
  border: 5px solid #fff;
  border-radius: 50%;
  background: transparent;
  color: #fff;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 100;
  padding: 0;
  height: 50px;
  width: 50px;

  font-size: 2rem;
  cursor: pointer;
  transition: all 200ms ease-in;
  opacity: 0.4;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.capture__close:hover {
  opacity: 0.8;
  transform-origin: center center;
  transform: scale(0.8);
}

.capture__record,
.capture__stopButton {
  width: 80px;
  height: 80px;
  position: absolute;
  border: 0;
  background: transparent;

  left: 50%;
  bottom: 3rem;
  margin-left: -40px;
  font-size: 4rem;
  color: #ff5b5b;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 200ms ease-in;
}

.capture__record:hover,
.capture__stopButton:hover {
  color: #dd2929;
  transform-origin: center center;
  transform: scale(1.1);
}

.capture__stopButton {
  color: #fff;
}
.capture__stopButton:hover {
  color: #ddd;
}

.countdown {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.countdown__tagline {
  font-size: 0.8rem;
}
.countdown__text {
  font-size: 3rem;
}
.countdown__tagline,
.countdown__text {
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
}

.capture__isRecording {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  z-index: 1000;
}
.capture__isRecording::after {
  display: block;
  content: '';
  background: #dd2929;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 1rem;
  bottom: 1rem;

  animation: pulse 200ms alternate infinite;
}
@keyframes pulse {
  from {
    transform: scale(0.9);
  }
  top {
    transform: scale(1.1);
  }
}

.confirmBox {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-content: center;
}
.confirmBox button {
  border: 5px solid #fff;
  border-radius: 50%;
  background: transparent;
  color: #fff;
  padding: 0;
  height: 80px;
  width: 80px;
  margin: 0 5rem;
  font-size: 3rem;
  cursor: pointer;
  transition: all 200ms ease-in;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.confirmBox button:hover {
  transform-origin: center center;
  transform: scale(1.1);
  color: #ddd;
}

.confirmBox button:first-child:hover {
  color: #dd2929;
}
.confirmBox button:last-child:hover {
  color: #29dd7a;
}

.videoList {
  display: flex;
  flex-wrap: wrap;
}

.videoItem {
  position: relative;
  width: 50%;
  cursor: pointer;
}
.videoItem video {
  width: 100%;
  height: 100%;
  display: block;
}
.videoItem__button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0;
}
